/BumagiTest/Programm/bin
/BumagiTest/Programm/obj
/BumagiTest/Common/bin
/BumagiTest/Common/obj
/BumagiTest/DAO/bin
/BumagiTest/DAO/obj
/BumagiTest/packages
/BumagiTest/DAO.Xunit/bin
/BumagiTest/DAO.Xunit/obj
